@import "@/styles/_mixins.scss";
@import "@/styles/_variables.scss";

@keyframes titleEntrance {
  0% {
    opacity: 0;
    transform: translate(120vw, -100vh);
  }

  20% {
    opacity: 1;
  }

  80% {
    font-weight: bold;
    transform: scale(1.5);
  }

  100% {
    @include end-title;
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(120vw) skew(-20deg);
  }

  10% {
    opacity: 1;
  }

  70% {
    transform: translateX(0) skew(-20deg);
  }

  80% {
    transform: translateX(0) scale(1.2);
  }

  100% {
    @include end-slideIn();
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }

  10% {
    opacity: 1;
  }

  60% {
    transform: scale(2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
