$pizzaBase: #baa270;
$pizzaSauce: #8f3022;
$pizzaCheese: #f2f2e1;
$pepperoni: #823428;
$offWhite: #fffff7;
$sassy: #bf4080;
$coral: #fe5f55;
$royal: #3a1772;
$coffee: #2f1000;
$tiffany: #00b4d8;
$peach: #e6f14a;
$sassyFont: "Condiment", cursive;
$sansFont: "Livvic", sans-serif;
