@import url("https://fonts.googleapis.com/css2?family=Condiment&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Livvic&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@import "./_variables.scss";
@import "./_mixins.scss";
@import "./_animations.scss";

:root {
  font-family: $sansFont, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $royal;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}

.title {
  font-size: 3rem;
  display: flex;
  align-items: center;

  gap: 1rem;
  overflow: visible;
  opacity: 0;
  animation: slideInFromRight 1.5s ease-in-out forwards;
  transform-origin: left;
}
